// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Tweaks to Accessible Auto Complete
@import "components/select-input";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.wide .govuk-summary-list__row .govuk-summary-list__key {
  width: 68%;
}

.wide .govuk-summary-list__row .govuk-summary-list__value {
  width: 20%;
}

.wide .govuk-summary-list__row .govuk-summary-list__actions {
  width: 12%;
}

.answer-incomplete {
  color: #b10e1e;
}

.sub-heading {
  color: #666;
  display: block;
  font-size: 16px;
}

.govuk-form-group{
  li {
      font-family: "nta", Arial, sans-serif;
  }
}