
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block beforeContent %}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="claim-teacher-1">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "adminQts",
          name: "adminQts",
          fieldset: {
            legend: {
              text: "Did Jane Jones qualify as a teacher on or after 1 September 2014? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}

        <div>
          <a href="claim-teacher-1.html">Skip for now</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
