
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          About this scheme
      </h1>
      <p>From 2019, teachers can claim a retention payment of £2000.</p>
      <p>The scheme is for teachers in certain subjects and is only running in certain areas of England – areas that have fewer teachers in these subjects at the moment.</p>
      <p>The payments will be made as a lump sum of £2000 in the Autumn term of 2018/19. You will not have to pay tax or National Insurance on it.</p>
    </div>
  </div>
{% endblock %}
