
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="teacher-payment-method">
        {% from "input/macro.njk" import govukInput %}
        {% from "button/macro.njk" import govukButton %}

        {{ govukInput({
          label: {
            text: "What's your National Insurance number?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Do we need to tell the teacher why we need this???"
          },
          id: "nin",
          name: "nin"
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
