
{% extends "layout.html" %}

{% block pageTitle %}
When did you qualify as a teacher?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="teacher-when">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "teacher-when",
        name: "eligible",
        fieldset: {
          legend: {
            text: "When did you qualify as a teacher?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "true",
            text: "On or after 1 September 2014",
            attributes: {
              required: "true"
            }
          },
          {
            value: "false",
            text: "Before 1 September 2014"
          }
        ]
      }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{% endblock %}
