
{% extends "layout_email.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Notification email</h1>
      <h2 class="govuk-heading-s">From: <span class="govuk-body">DfE Financial Incentives</span></h2>
      <h2 class="govuk-heading-s">Subject: <span class="govuk-body">DfE: We need you to check Jane Jones application for a teacher payment</span></h2>

      <div class="govuk-grid-column-full email">
        <div class="govuk-email-header">
          <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" target="_blank"><img src="/public/images/govuk_logotype_crown.png" alt=""></a>
          <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" target="_blank">GOV.UK</a>
        </div>

        <div class="govuk-email-header--service">
          <img class="service-logo" src="/public/images/org_crest.png">
          <span class="service-name">Department for Education</span>
        </div>

        <div class="govuk-email-body">
          <p class="govuk-body">Dear [name]</p>
          <p class="govuk-body">Jane Jones has submitted an application for a DfE teacher payment. They have claimed for a <a href="#">Mathematics and Physics Retention</a> payment.</p>
          <p class="govuk-body">To process the claim, we need you to check the following information:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>if they are a supply teacher</li>
            <li>if they are employed to teach Mathematics and/or Physics</li>
            <li>if they are currently subject to any formal diciplinary or capability proceedings</li>
          </ul>
          <p class="govuk-body">Check this information before {date}. If you cannot please email <a href="mailto:financial.incentives@education.gov.uk">financial.incentives@education.gov.uk</a>.</p>
          <p class="govuk-body">Sign in to DfE to check Jane Jones’s details.</p>
          <p class="govuk-body"><a class="govuk-link" href="/admin/sign-in">https://services.signin.education.gov.uk</a></p>
          <p class="govuk-body">Kind regards</p>
          <p class="govuk-body">DfE Financial Incentives</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-top-4">
              <p class="govuk-body-s">If you’re unsure an email is from DfE:</p>
              <ul class="govuk-list govuk-list--bullet govuk-body-s">
                <li>Do not reply to it or click on any links</li>
                <li>Report the suspicious email to DfE - to find out how, go to <a class="govuk-link" href="https://www.gov.uk/">GOV.UK</a> and search for 'Avoid and report internet scams and phishing'</li>
              </ul>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="govuk-!-margin-top-4">
              <img class="gov-crest" src="/public/images/govuk-crest.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
