
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Eligibility
      </h1>
      <p class="govuk-body">To claim your retention payments you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have qualified as a teacher after
            1 September 2014                    </li>
        <li>have a qualification with a specialism in either Physics or Mathematics</li>
        <li>still be teaching in a school in the UK</li>
        <li>have worked in a participating local authority area in England in the last academic year, at either:
            <ul>
                <li>a state-funded school or academy</li>
                <li>in a special school (a school that teaches children who have special educational needs)</li>
                <li>a 16-19 school (including academies and free schools)</li>
                <li>a sixth form or further education college</li>
            </ul>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Potential participating local authority areas</h2>
        <p>You can only claim your retention payment in certain areas in England – areas where there are fewer teachers in these subjects at the moment. To make a claim, you must have taught in one of these local authority areas:</p>
        <h3 class="govuk-heading-s">North East</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>County Durham</li>
          <li>Darlington</li>
          <li>Gateshead</li>
          <li>Hartlepool</li>
          <li>Middlesbrough</li>
          <li>Newcastle upon Tyne</li>
          <li>North Tyneside</li>
          <li>Northumberland</li>
          <li>Redcar and Cleveland</li>
          <li>South Tyneside</li>
          <li>Stockton-on-Tees</li>
          <li>Sunderland</li>
        </ul>

        <h3 class="govuk-heading-s">North West</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Blackburn with Darwen</li>
          <li>Blackpool</li>
          <li>Bolton</li>
          <li>Bury</li>
          <li>Cheshire East</li>
          <li>Cheshire West and Chester</li>
          <li>Cumbria</li>
          <li>Halton</li>
          <li>Knowsley</li>
          <li>Lancashire</li>
          <li>Liverpool</li>
          <li>Manchester</li>
          <li>Oldham</li>
          <li>Rochdale</li>
          <li>Salford</li>
          <li>Sefton</li>
          <li>St. Helens</li>
          <li>Stockport</li>
          <li>Tameside</li>
          <li>Trafford</li>
          <li>Warrington</li>
          <li>Wigan</li>
          <li>Wirral</li>
        </ul>
    </div>
  </div>

{% endblock %}
