
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Consent to us contacting your school
      </h1>
      <p>To claim your payment we may contact the school you tell us about in this claim to confirm:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>that you are still employed by your school</li>
        <li>that you teach Mathematics and/or Physics</li>
        <li>if you are subject to any capability proceedings or disciplinary action</li>
        <li>if you are a supply teacher, that you have been teaching more than one term</li>
      </ul>

      <a href="/subject" class="govuk-button">Agree and continue</a>
    </div>
  </div>

{% endblock %}
