
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="check-answers">
        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "input/macro.njk" import govukInput %}

        {% set emailAddress %}
        {{ govukInput({
          id: "contactEmail",
          name: "contactEmail",
          type: "email",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Email address"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}
        {% endset -%}

        {% set textNumber %}
        {{ govukInput({
          id: "contactText",
          name: "contactText",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "contactMethod",
          name: "contactMethod",
          fieldset: {
            legend: {
              text: "How do you want us to contact you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "We'll only use these details to update you about your claim."
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: emailAddress
              }
            },
            {
              value: "text message",
              text: "Text message",
              conditional: {
                html: textNumber
              }
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
