
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">DfE Mathematics and Physics Service Prototypes</h1>
    </div>
  </div>
  
  <h2 class="govuk-heading-l">Beta Prototypes</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Beta 1 <small class="sub-heading">Check Eligibiity</small><small class="sub-heading">8th May 2019</small></h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-mps-prototype-beta-1.herokuapp.com/start" class="govuk-link" target="_blank">Teacher journey</a>
        </li>
        <li>
          <a href="https://dfe-mps-prototype.herokuapp.com/admin/emails/claim-received" class="govuk-link" target="_blank">School Business Professionals journey</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>First version to cover all eligibility criteria</li>
            <li>All required questions to determine eligibility</li>
            <li>Copied across lots of errors from Alpha</li>
            <li>Integrates gov.uk verify</li>
            <li>Supply teacher eligibility flow</li>
          </ul>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research</h4>
          <p>We didn't complete this prototype in time to conduct any usability testing.</p>
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Beta 2 <small class="sub-heading">Re-word/order questions</small><small class="sub-heading">15th May 2019</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="/start" class="govuk-link" target="_blank">Teacher journey</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Service design changes to remove need for schools to verify</li>
            <li>Updated content design on questions</li>
            <li>Re-ordered questions based on filtering out obvious ineligible teachers</li>
            <li>Additional user journey items such as "you are eligible" page</li>
            <li>Redesigned start page</li>
            <li>Redesigned confirmation page</li>
            <li>Redesigned consent page</li>
            <li>Additional Q routes such as degree Q if teacher hasn't completed ITT</li>
          </ul>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research</h4>
          <p>Will be  entering research this sprint.</p>
        </div>
      </details>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-l">Alpha Prototypes</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Alpha 1 <small class="sub-heading">ITT &amp; 50%</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/a/teacher-claim-bursary.php" class="govuk-link" target="_blank">A - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-a/admin-claim-received-email.php" class="govuk-link" target="_blank">A - School Business Professionals</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Alpha 2 <small class="sub-heading">Qualification route &amp; 50%</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/b/teacher-claim-bursary.php" class="govuk-link-s" target="_blank">B - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-b/admin-claim-received-email.php" class="govuk-link-s" target="_blank">B - School Business Professionals</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Alpha 3 <small class="sub-heading">Qualification route only</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/c/teacher-claim-bursary.php" class="govuk-link-s" target="_blank">C - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-c/admin-claim-received-email.php" class="govuk-link-s" target="_blank">C - School Business Professionals</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Teachers' Benefits Portal <span class="sub-heading">Initial concepts</span></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/teacher-benefits-portal/dashboard.php" class="govuk-link" target="_blank">Concept A</a>
        </li>

      <ul class="govuk-list govuk-list--bullet">
        <li>a portal that displays all available, active, elapsed, and 'future' teacher benefits</li>
        <li>All information except current timetable is pulled in automatically</li>
        <li>Retention payment is based on assumed policy that requires teacher to declare actually teaching 50%+ in eligibile subject</li>
      </ul>
    </div>
  </div>

{% endblock %}
