
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">DfE Mathematics and Physics Service Prototypes</h1>
      <h2 class="govuk-heading-l">Latest and archived prototypes</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Prototype A <small class="sub-heading">ITT &amp; 50%</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/a/teacher-claim-bursary.php" class="govuk-link" target="_blank">A - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-a/admin-claim-received-email.php" class="govuk-link" target="_blank">A - School Business Professionals</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Prototype B <small class="sub-heading">Qualification route &amp; 50%</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/b/teacher-claim-bursary.php" class="govuk-link-s" target="_blank">B - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-b/admin-claim-received-email.php" class="govuk-link-s" target="_blank">B - School Business Professionals</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Prototype C <small class="sub-heading">Qualification route only</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/c/teacher-claim-bursary.php" class="govuk-link-s" target="_blank">C - Teachers</a>
        </li>
        <li>
          <a href="https://dfe-rps.herokuapp.com/admin-c/admin-claim-received-email.php" class="govuk-link-s" target="_blank">C - School Business Professionals</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">Prototype D <small class="sub-heading">Qualification route only</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="/start" class="govuk-link" target="_blank">D - Teachers</a>
        </li>
        <li>
          <a href="/admin/emails/claim-received" class="govuk-link" target="_blank">D - School Business Professionals</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Teachers' Benefits Portal <span class="sub-heading">Initial concepts</span></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://dfe-rps.herokuapp.com/teacher-benefits-portal/dashboard.php" class="govuk-link" target="_blank">Concept A</a>
        </li>

      <ul class="govuk-list govuk-list--bullet">
        <li>a portal that displays all available, active, elapsed, and 'future' teacher benefits</li>
        <li>All information except current timetable is pulled in automatically</li>
        <li>Retention payment is based on assumed policy that requires teacher to declare actually teaching 50%+ in eligibile subject</li>
      </ul>
    </div>
  </div>

{% endblock %}
