
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block beforeContent %}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You’re not eligible to claim
      </h1>
      <p class="govuk-body">Based on your answers, you're not eligible to claim.</p>
      <p class="govuk-body">You can only claim if your school is in an eligible area for this scheme.</p>
      <p class="govuk-body"><a href="/" class="govuk-link">Return to the gov.uk homepage</a></p>
    </div>
  </div>

{% endblock %}
