
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You’re not eligible to claim
      </h1>
      <p class="govuk-body">Based on your answers, you're not eligible to claim.</p>
      <p class="govuk-body">You must have been awarded your QTS or QTLS on or after the 1<sup>st</sup> of September 2014.</p>
      <p class="govuk-body"><a href="/" class="govuk-link">Return to the gov.uk homepage</a></p>
    </div>
  </div>

{% endblock %}
