
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You’re not eligible to claim
      </h1>
      <p class="govuk-body">If cleared by the 31<sup>st</sup> of January you can re-apply.</p>
      <p class="govuk-body"><a href="/" class="govuk-link">Return to the gov.uk homepage</a></p>
    </div>
  </div>

{% endblock %}
