
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You’re not eligible to claim
      </h1>
      <p class="govuk-body">Based on your answers, you're not eligible to claim.</p>
      <p class="govuk-body">You need to be currently teaching Mathematics and/or Physics to be eligible. This can be as part of a broader curriculum.</p>
      <p class="govuk-body"><a href="/" class="govuk-link">Return to the gov.uk homepage</a></p>
    </div>
  </div>

{% endblock %}
