
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you employed directly by your school?</h1>

      <form method="POST" action="private-agency">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "supplyTeacherAgency",
          name: "supplyTeacherAgency",
          items: [
            {
              value: "Yes, I am employed by the school",
              text: "Yes, I am employed by the school",
              attributes: {
                required: "true"
              }
            },
            {
              value: "No, I am employed by a private agency",
              text: "No, I am employed by a private agency"
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
