
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you employed as a supply teacher by a private agency?</h1>

      {% from "details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "What is a private agency?",
        text: ""
      }) }}

      <form method="POST" action="private-agency">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "supplyTeacherAgency",
          name: "supplyTeacherAgency",
          items: [
            {
              value: "true",
              text: "Yes",
              attributes: {
                required: "true"
              }
            },
            {
              value: "false",
              text: "No"
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
