{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/qualified"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="qualified">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "qualified",
          name: "qualified",
          fieldset: {
            legend: {
              text: "Did your initial teacher training specialise in maths or physics?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes, I specialised in maths or physics",
              text: "Yes, I specialised in maths or physics"
            },
            {
              value: "No, I did not specialise in maths or physics",
              text: "No, I did not specialise in maths or physics"
            },
            {
              value: "No, I trained to teach physics but specialised in another subjects",
              text: "No, I trained to teach physics but specialised in another subjects"
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
