
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Make a claim
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your teacher reference number – you can get this from your school, the certificate you got when you qualified as a teacher or from the teacher qualifications helpdesk</li>
        <li>sign in details for ‘Verify’ (the government’s secure way of proving who you are) – if you do not have a Verify account, you will need your passport or photocard driving licence to sign up</li>
        <li>your bank account details</li>
      </ul>

      <h2 class="govuk-heading-m">You've worked at more than one school</h2>

      <p class="govuk-body">If you've worked at more than one school since 1 September 2017, apply for each school separately.</p>

      <a href="/consent" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Other ways to apply</h2>

      <p class="govuk-body">If you cannot apply online, you can apply by post. The address to send your application to is at the end of the form.</p>
    </div>
  </div>
{% endblock %}
