
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim a payment for teaching maths or physics
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Claim £2,000 after tax if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>teach maths or physics</li>
        <li>have a degree or teaching qualification in maths or physics</li>
        <li>have been teaching for 1 to 5 years</li>
        <li>teach in certain places - <a href="https://www.gov.uk/guidance/apply-for-mathematics-and-physics-teacher-retention-payments#regional-eligibility-criteria"  class="govuk-link">check which places are eligible</a></li>
      </ul>

      <p class="govuk-body">
        The application takes around 5 to 15 minutes to complete.
      </p>

      <h2 class="govuk-heading-m">Before you apply</h2>

      <p class="govuk-body">You'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your National Insurance Number</li>
        <li>your bank account details</li>
        <li>your 7 digit teacher reference number – you can get this from your school, the certificate you got when you qualified, or from the <a href="https://www.gov.uk/guidance/individual-teacher-records-information-for-teachers#contact"  class="govuk-link">teacher qualifications helpdesk</a></li>
        <li>the date you completed your initial teacher training (ITT)</li>
        <li>sign in details for ‘Verify’ – the government’s secure way of proving who you are, if you do not have a Verify account, you’ll need your passport or photocard driving licence and a debit or credit card to sign up</li>
      </ul>

      <a href="/consent" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>
    </div>
  </div>
{% endblock %}
