
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim a payment for teaching mathematics or physics
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">The <a href="https://www.gov.uk/guidance/apply-for-mathematics-and-physics-teacher-retention-payments">
        Mathematics and Physics Teacher Retention Pilot</a> is for
        mathematics and physics teachers who have a  degree or teaching
        qualification in their subject and are in years 1 to 5 of their
        teaching career.
      </p>

      <p class="govuk-body">
        All eligible teachers will receive a &pound;2,000 payment after
        tax if teaching in the <a href="https://www.gov.uk/guidance/apply-for-mathematics-and-physics-teacher-retention-payments">
          North East, Yorkshire and the Humber, and remaining Opportunity
          Areas</a>.
      </p>

      <p class="govuk-body">
        The application takes around 5 to 15 minutes to complete.
      </p>

      <h2 class="govuk-heading-m">Before you apply</h2>

      <p class="govuk-body">You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your National Insurance Number</li>
        <li>your bank account details</li>
        <li>your 7 digit teacher reference number – you can get this from your school, the certificate you got when you
            qualified as a teacher or from the teacher qualifications helpdesk</li>
        <li>the date you completed your Initial Teacher Training (ITT)</li>
        <li>sign in details for ‘Verify’ (the government’s secure way of proving who you are) – if you do not have a
          Verify account, you will need your passport or photocard driving licence to sign up</li>
      </ul>

      <a href="/consent" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>
    </div>
  </div>
{% endblock %}
