
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="subject">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "teachingSubject",
          name: "teachingSubject",
          fieldset: {
            legend: {
              text: "Do you currently teach Mathematics and/or Physics?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "You can teach Mathematics/Physics as part of a broader curriculum"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              attributes: {
                required: "true"
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
