
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="teacher-route">
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "qualificationRoute",
          name: "qualificationRoute",
          fieldset: {
            legend: {
              text: "Via which route did you qualify as a teacher?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "true",
              text: "PGCE",
              attributes: {
                required: "true"
              }
            },
            {
              value: "true",
              text: "School Direct"
            },
            {
              value: "true",
              text: "SCITT"
            },
            {
              value: "false",
              text: "Teach First"
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
