
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Where did you teach between 1 September 2017 and 31 August 2018?
      </h1>

      <form method="POST" action="teacher-employed">
        {% from "details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "You taught at more than one school",
          text: "For now, enter one of the schools you've taught at. You can check another school when you've finished."
        }) }}

        {% from "input/macro.njk" import govukInput %}

        <label class="govuk-label" for="schoolName">Enter the school name</label>
        <div class="govuk-form-group" id="schoolNameContainer"></div>

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% set schoolNames = schoolList %}
<script>
window.onload = function () {
  schoolNames = "{{ schoolList | safe }}".split(',')
  accessibleAutocomplete({
    element: document.querySelector('#schoolNameContainer'),
    id: 'schoolName',
    source: schoolNames,
    minLength: 4
  })
}
</script>

{% endblock %}
