
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block beforeContent %}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="teacher-check-answers">
        {% from "radios/macro.njk" import govukRadios %}
        {% from "input/macro.njk" import govukInput %}

        {% set emailAddress %}
        {{ govukInput({
          id: "email-address",
          name: "email-address",
          type: "email",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Enter email address"
          }
        }) }}
        {% endset -%}

        {% set mobileNumber %}
        {{ govukInput({
          id: "mobile-number",
          name: "mobile-number",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter mobile number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "contact-method",
          name: "contact-method",
          fieldset: {
            legend: {
              text: "How do you want us to contact you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint :{
            text: "We'll only use these details to update you about your claim."
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: emailAddress
              }
            },
            {
              value: "text-message",
              text: "Text message",
              conditional: {
                html: mobileNumber
              }
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
