
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="teacher-supply">
        {% from "radios/macro.njk" import govukRadios %}
        {% from "input/macro.njk" import govukInput %}

        {% set legendQuestion =  "Which subject were you originally employed to teach at " + data['school-name'] + "?"%}

        {% set subjectOther %}
        {{ govukInput({
          id: "other-subject",
          name: "other-subject",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Please specify"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "subject",
          name: "subject",
          fieldset: {
            legend: {
              text: legendQuestion,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "science",
              text: "Science (physics, chemistry or biology) "
            },
            {
              value: "maths",
              text: "Maths"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: subjectOther
              }
            }
          ]
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
