
{% extends "layout.html" %}

{% block pageTitle %}
  DfE Maths and Physics Service Prototype
{% endblock %}

{% block beforeContent %}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Consent to us contacting your school
      </h1>
      <p>To claim your retention payment we will contact the school you tell us about in this claim to confirm:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>that you taught there</li>
        <li>the subject you were employed to teach</li>
        <li>you have a qualification specialising in either Physics or Maths</li>
      </ul>

      <p>We cannot process your claim without doing this.</p>

      <p>By applying you are confirming that you consent to us contacting the school.</p>

      <a href="/teacher-when" class="govuk-button">Agree and continue</a>
    </div>
  </div>

{% endblock %}
